<!--
  Copyright 2022 Ivan Yurchenko

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% from 'objects_base_macros.j2' import render_object_link %}

{% macro render_element(address, objects, retained_heap, types) -%}
{% if address in objects %}
    {{ render_object_link(address) }}

    <span title="Retained heap, B" class="text-muted">
        [<i class="bi bi-lock"></i>
        {{ retained_heap.get_for_object(address) | big_number | safe }}]
    </span>

    <code>{{ types[objects[address].type] }}</code>

    {% if objects[address].str_repr is not none %}
    <span class="inline-object-str text-muted">{{ objects[address].str_repr }}</span>
    {% else %}
    <span class="inline-object-str text-muted">(no string repr)</span>
    {% endif %}
{% else %}
    (unknown)
{% endif %}
{%- endmacro %}
